
/*image grid starts here*/
html {
  box-sizing: border-box;
  font-size: 100%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.grid_container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  display: block; 
}

.gallery__img_app {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: grid; 
}

.gallery__item--1 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; 
}

.gallery__item--2 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--4 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;  
}

.gallery__item--5 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--6 {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}
/*image grid ends here*/
/*------------------------------------------------------------------------------*/
/*Image slideshow css starts here*/

{
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/*image slideshow ends here*/
body {
  font-family: Helvetica;
  background-color: rgb(214, 236, 250);
}
h1 {
  font-family: Helvetica;
  font-size: 300%;
}
h2 {
  font-family: Helvetica;
  font-size: 250%;
}
h3 {
  font-family: Helvetica;
  font-size: 200%;
}
h4 {
font-family: Helvetica;
font-size: 100%;
}
h5 {
font-family: Helvetica;
font-size: 100%;
}
p {
  font-family: Helvetica;
  color: rgb(0, 0, 0);
  font-size: 120%;
}

.maintext {
  margin-left:15%
}
.main-text{
margin-left: 10%;
margin-right: 10%;
}
.indent {
text-indent:9%
}

.figure-style{
float: right;
border-color: #333;
padding: 10px;
width: 30%;
margin: auto;
}

.figure-style-40{
float: right;
border-color: #333;
padding: 10px;
width: 40%;
margin: auto;
}


html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:150%;-webkit-text-size-adjust:150%}body{margin:0}

/* top navigation bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #293592;
  color: white;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn-active {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
background-color: #293592;

}

.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */

}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 0px;
box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #293592; 
color:rgb(255, 255, 255)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.arrow-down {
width: 0; 
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid rgb(255, 255, 255);
position:absolute;
margin-top: 4px;
margin-left: -16px;
}


/* banner logo */

.banner-logo {
float:center;
padding: 0px 0px 0px 0px;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}


/* Colours */
.css-page-title{color:rgb(57, 30, 212)!important;background-color:#f018d3!important}
.css-sidebar-color{color:rgb(20, 73, 187)!important;background-color:#f70000!important}


/* Button - Sets button colour behavour*/
.css-button:hover{color:#ffffff!important;background-color:#ffffff!important}

/* Container - Sets a container margin and padding*/
.css-container,.css-panel{padding:0.01em 16px}.css-panel{margin-top:16px;margin-bottom:16px}

.main-text{
margin-left: 10%;
margin-right: 10%;
}

footer {
text-align: center;
padding: 3px;
background-color: rgb(92, 92, 92);
color:rgb(255, 255, 255);
font-size: 12px;
}

a.footer:link {
color:rgb(255, 255, 255)
}

a.footer:visited {
color:rgb(198, 202, 248)
}

a.footer:hover {
color:rgb(153, 243, 255)
}



table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #0f0f0f;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
